.nowPlayingCard {
  &__image {
    cursor: pointer;
    width: 150px;
    height: 200px;
    border: 2px solid red;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__modalbutton {
    cursor: pointer;
    position: relative;
    bottom: 200px;
    left: 50px;
  }
}

.modal {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__closebutton {
    width: 25%;
    align-self: center;
  }
  &__review-container{
    overflow:scroll;
    height:200px;

  }
  &__review{
    background-color:white;
    color: black;
    font-size:20px;
    line-height: 30px;
    &-button{
      align-self:center;
    }
  }
  &__avatar{
    border-radius:50px;
    width:50px;
  }
}
