.movie {
  &__image {
    cursor: pointer;
    width: 150px;
    height: 200px;
    border: 2px solid red;
  }
  &__modalbutton {
    cursor: pointer;
    position: relative;
    bottom: 170px;
    right: 30px;
  }
}

.modal {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__closebutton {
    width: 25%;
    align-self: center;
  }
}
